<header class="site-header" id="siteHeader">
    <div class="container header-inner">
        <a href="index.html" class="brand" aria-label="Hitflora domů">
            <img src="./assets/logo-black.svg" alt="Hitflora" class="brand-logo" />
        </a>

        <nav class="nav">
            <a href="index.html" data-page="home">Domů</a>
            <a href="aktualne.html" data-page="aktualne">Aktuálně</a>
            <a href="sortiment.html" data-page="sortiment">Sortiment</a>

            <a href="index.html#sluzby" data-page="sluzby">Služby</a>
            <a href="zoo.html" data-page="zoo">Mini ZOO</a>
            <!-- <a href="about.html" data-page="about">O nás</a> -->
            <a href="index.html#kontakt" data-page="kontakt">Kontakt</a>
        </nav>

        <div class="header-actions">
            <a href="index.html#kontakt" class="btn btn-secondary">Nezávazná poptávka</a>
            <a href="index.html#sluzby" class="btn btn-primary">Prohlédnout služby</a>
        </div>
    </div>
</header>